*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background: url(https://wallpapersmug.com/download/2048x1152/22daba/moon-rays-red-space-sky-abstract-mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*Faz ele cobrir toda atela*/
    background-attachment: fixed;
}

#conteiner{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin-top: 100px;
}

#caixa-login{
    background-color: #ffffff80;
    padding: 20px;
    border-radius: 4%;
    box-shadow: 6px 3px 1px 0px #00000065;/*faz um efeito de sombra*/
    width: 400px;;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #720f40; /*usando colorzilla*/
}

.caixa-flutuante input{
    width: 100%;
    padding: 5px 5px;
    display:inline-block;
    border:0;
    border-bottom: 2px solid #00000085;/*isso coloca a linha embaaixo*/
    background-color: transparent;/*tira o background branco*/
    outline: none;/*tira a caixa do input*/
    min-width: 180px;
    font-size: 16px;
    transition: all  .3s ease-out;/*Isso d o efeito de transição*/
    border-radius: 0;
}

.caixa-flutuante{
    position:relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.caixa-flutuante input:focus{
    border-bottom: 2px solid #720f40;
}

.caixa-flutuante label{
    color:#720f40;
    pointer-events:none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;/*Isso d o efeito de transição*/
}

.caixa-flutuante input:focus + label,
.caixa-flutuante input:valid + label{
   font-size: 13px; 
   margin-top: 0;
   color:#720f40;
}

button{
    background-color: transparent;
    border-color: #720f40;
    color:#720f40;
    padding:7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;/*efeito no bottom */
}

button:hover{
    background-color: #720f40;
    color: #ffffff;
}

.caixa-justificada{
    display: flex;
    justify-content: center;
}

.fa-eye{
    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
    color: #720f40;
}

#msgErro{
    text-align: center;
    color:#ff0000;
    background-color:#ffbbbb;
    padding: 10px;
    border-radius:4px;
    display: none;

}

#msgSucesso{
    text-align: center;
    color:#00bb00;
    background-color:#bbffbe;
    padding: 10px;
    border-radius:4px;
    display:none;
}